pm4py
requests
pyvis
jsonschema
workalendar
pyarrow
scikit-learn
polars
openai
pyemd
pyaudio
pydub
pygame
pygetwindow
pynput
numpy
pandas
deprecation
networkx
streamlit
plotly
spacy
PyPDF2
psutil
statsmodels>=0.14.0
r2r
asyncpg
supabase
pydot
pandas
numpy
matplotlib
seaborn
openai
langchain
langchain-openai
azure.identity
azure-ai-inference
kaleido