<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Discovery</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <h1>Process Discovery</h1>
    <p>Upload your Event Log to perform Process Discovery.</p>

    <!-- File Upload -->
    <input type="file" id="fileUpload" accept=".csv">
    <button onclick="uploadFile()">Upload & Process</button>

    <br><br>


    <br>

    <!-- Perform Calculation Button -->
    <button onclick="performCalculations()">Perform Calculations</button>
    <p id="calculationResult"></p>

   <!-- script file link -->

    <script src="/static/js/script.js"></script>
</body>
</html>
